{% extends "base.html" %}
{% block title %}Blog - Tom Price{% endblock %}
{% block additionalStyling %}
  <link href="/static/css/blog.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container">

	<div class="starter-template">
	<h1>Bootstrap starter template</h1>
	<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
	</div>

</div><!-- /.container -->


{% endblock %}
{% block additionalScripts %}

  <script src="/static/js/blog.js"

{% endblock %}
